	
	.line {
		/*background:url(picture/ruler-y.gif) repeat-y top left;*/
		padding:0px 0px; overflow: auto; height:1%; margin:5px 0px;
		border-bottom:1px solid #c7c7c7;
	}
	
	
	ul { margin:0; list-style:none; padding:0px; }
	li { margin-bottom:2px;}

	a {	color: #5F9600; text-decoration:underline; }
	a:hover { color: #353535; }
	
	.meshup {
		float:left; width: 20px; height:30px; margin: 5px 15px 5px 0px;
		background: url(picture/meshup.gif) top left;
	}
	
	.dash {
		padding: 5px 0px 0px 0px; margin: 0px 0px 10px 0px;
		border-top: 1px solid #c7c7c7;
	}
	
	.dash h2 {
		font-size: 1.2em; line-height: 1.2em; margin-bottom: 0; 
	}
	.dash p {
		margin-bottom: 0em;
	}
	
	.dash h4 {
		margin-bottom: 0em; margin-right: 1em; float:left; font-weight:normal;
	}
	
	.dash .links {
		float:right; text-align:right; margin-left: 5px;
	}
	
	.box280 h3, .box280 p  {
		margin-bottom: 0.5em;
		color: #353535; 
	}
	
	
	
	.chunk-preview {
		border: 1px solid #DDE6CB;
		padding: 5px;
		background: #F6FFE5 url("picture/addFragmentBG.gif") no-repeat right top;
	}
	
	#mashup .chunk-preview {
		padding: 10px 15px;
		background: #F6FFE5 url("picture/addFragmentBG.gif") no-repeat right top;
	}
	
	#mashup-list .chunk-item, .chunk-item-enabled {
		border: 1px solid #DDE6CB;
		padding: 10px 15px;
		margin: 10px 0px 0px 0px;
		background: #F6FFE5 ;
	}
	
	#mashup-list .chunk-item p {
		margin-bottom:0; margin-top: 0.5em;
	}
	
	#mashup-list .chunk-item h1,
	#mashup-list .chunk-item h2,
	#mashup-list .chunk-item h3,
	#mashup-list .chunk-item h4 {
		margin-bottom:0; margin-top: 0.5em;
	}
	
	
	
	#mashup-buttons, #mashup-saved {
		margin: 0px 0px 15px 0px;
		padding: 0px 10px 5px 10px;
		background-color: #FFF58F;
	}
	
	.chunk-preview p {
		margin-bottom:0; margin-top: 0.5em;
	}
	
	.chunk-preview h4 {
		margin-bottom:0; margin-top: 0.5em;
	}
	
	.chunk-preview-title {
		color: #353535; font-size: 0.84em; font-weight:bold;
		border-bottom: 1px solid #c7c7c7; margin-bottom:5px;
	}
	
	.chunk-new {margin:0px;}
	
	input#mashup-title {
		font-size: 2em; padding:2px 5px;
		height: auto; display:block;
	}
	
	.content660 input#mashup-title { width:646px; }
	.content740	input#mashup-title { width:726px; }
	
	.box200 #query-search {width:174px;}
	.box280 #query-search {width:254px;}
	
	.box200 h3,
	.box280 h3 { margin-bottom:0; margin-top: 0.5em; }
	
	.box200 p,
	.box280 p { margin-bottom:0; margin-top: 0.5em; }
	
	
	
		
}
	
	