/* Style sheet loomp_content */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 2px;
}

a {
	text-decoration: none;
	color: #5F9600;
}

a:hover {
	color: #353535;
}

h1 a, h2 a, h3 a {
}

ul.right-buttons li {
	margin-bottom: 10px;
	padding: 0 15px;
	border-left: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
	background: #F2F4EF;
	border-radius: 15px;
	display: inline-block;
	cursor: default;
}

/*
 * Elements
 */
ul.element-list li.element-item {
	margin-bottom: 15px;
	padding: 0 25px;
	border-left: 1px solid #C7C7C7;
	border-bottom: 2px solid #C7C7C7;
	background: #F2F4EF;
	border-radius: 15px;
	min-height: 110px;
}

ul.element-list li.element-item .content {
	padding-bottom: 10px;
}

ul.element-list li.element-item h3 {
	padding-top: 10px;
}

ul.element-list .metadata {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
	border-radius: 0 15px 0 15px;
	float: right;
	font-size: small;
	padding: 0 10px 3px 20px;
	margin-right: -25px;
	text-align: right;
	white-space: nowrap;
	min-width: 100px;
}

.element-menu-drop {
	margin-left: -17px;
	margin-top: 20px;
	float: left;
}

ul.element-menu {
	position: absolute;
	z-index: 100;
	background: #FFFFFF;
	border: 1px solid #5F9600;
	padding: 2px 10px;
	margin-top: 9px;
	font-size: small;
	box-shadow: 2px 1px 5px #555555;
}

ul.resource-list li.resource-item {
	margin-bottom: 10px;
	padding: 0 15px;
	border-left: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
	background: #F2F4EF;
	border-radius: 15px;
	display: inline-block;
	width: 260px;
	cursor: default;
	min-height: 50px;
}

ul.resource-list li.resource-item:hover icon:hover {
	background-position: right top;
}

ul.resource-list li.resource-item .label {
	font-size: 18px;
	padding-top: 15px;
}

ul.resource-list li.resource-item .annotations {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #C7C7C7;
	border-left: 1px solid #C7C7C7;
	border-radius: 0 15px 0 15px;
	float: right;
	font-size: small;
	padding: 0 10px 0 10px;
	margin-right: -15px;
	text-align: right;
	white-space: nowrap;
	min-width: 60px;
}

ul.resource-list li.resource-item .annotations span {
	color: #000000;
}

ul.resource-list li.resource-item .annotations a:after,
ul.resource-list li.resource-item .annotations span:after {
	content: ", ";
}

ul.resource-list li.resource-item .annotations a:last-child:after,
ul.resource-list li.resource-item .annotations span:last-child:after {
	content: "";
}

.property-table-drop {
	position: absolute;
	z-index: 10;
	margin-left: 243px;
	margin-top: 0;
}

.property-table table {
	border: 1px solid #5F9600;
	padding: 2px 10px;
	color: #000000;
	border-collapse: collapse;
	position: absolute;
	z-index: 100;
	background: #FFFFFF;
	margin-top: 12px;
	margin-left: 22px;
	font-size: small;
	box-shadow: 2px 1px 5px #555555;
}

.property-table .heading {
	background-color: #5F9600;
	color: #FFFFFF;
}

.property-table table tr {
	border-top: 1px dotted #C7C7C7;
}

.property-table table td, table th {
	vertical-align: top;
	padding: 2px 5px;
}

.property-table table th {
	font-weight: bold;
}

.property-table table td.property {
	min-width: 80px;
}

.property-table table td.values {
	min-width: 140px;
}

.tags-heading {
	font-size: 12px;
	margin-bottom: 2px;
}

ul.tags {
	margin-bottom: 15px;
	font-size: 14px;
}

ul.tags li.tag {
	display: inline-block;
	background: #F2F4EF;
	border-radius: 15px;
	padding: 0 10px;
	margin-right: 5px;
	white-space: nowrap;
	border-bottom: 1px solid #C7C7C7;
	border-left: 1px solid #C7C7C7;
	line-height: 1.3em;
	cursor: default;
}

ul.tags li.tag .icon, ul.tags li.tag .icon-gray, ul.tags li.tag .icon-white {
	margin-left: 5px;
}

ul.tags li.tag.selected,
ul#selected-resource-annotations.tags li.tag:hover,
ul.resource-list li.resource-item:hover,
ul.resource-list li.resource-item.selected {
	background-color: #5F9600;
	color: #FFFFFF;
}

ul.resource-list li.resource-item:hover .icon, ul.resource-list li.resource-item.selected .icon {
	background-position: right top;
}

.color-picker {
	position: absolute;
	margin-top: 19px;
	z-index: 10;
}

.highlighted, .permanent-highlighted {
	background-color: #FFFF99;
}

/** PAGINATION **/
div.pagination {
	margin: 5px 0 0 0;
	padding: 0;
	border: none;
	height: 24px;
	line-height: 24px;
}

div.pagination a.step, div.pagination a.prevLink, div.pagination a.nextLink, div.pagination span {
	margin: 0 3px 0 0;
	padding: 0 7px;
	color: #555;
	background: none;
	border: none;
}

div.pagination a.step:hover, div.pagination a.prevLink:hover, div.pagination a.nextLink:hover {
	border: 3px #6AA235;
	border-right-style: solid;
	border-left-style: solid;
	padding-left: 4px;
	padding-right: 4px;
}

div.pagination span.currentStep {
	color: #6AA235;
	border: 3px #6AA235;
	border-right-style: solid;
	border-left-style: solid;
	padding-left: 4px;
	padding-right: 4px;
}

/*
 * ICONS
 */
.more, .less {
	margin-left: 4px;
}

.icon span, .more span, .less span {
	display: none;
}

.icon, .icon-red, .icon-gray, .more, .less {
	cursor: pointer;
}

.icon {
	background-position: left top;
}

.icon:hover, .icon-red:hover {
	background-position: left bottom;
}

.icon span, .icon-red span, .icon-gray span, .icon-white span {
	display: none;
}

.icon-gray {
	background-position: left bottom;
}

.icon-white {
	background-position: right top;
}

.icon-gray:hover {
	background-position: left top;
}

.icon-red {
	background-position: left center;
}

.icon-add {
	background-image: url("../images/green/icon-add-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-add-small {
	background-image: url("../images/green/icon-add-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-edit {
	background-image: url("../images/green/icon-edit-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-edit-small {
	background-image: url("../images/green/icon-edit-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-preview {
	background-image: url("../images/green/icon-preview-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-preview-small {
	background-image: url("../images/green/icon-preview-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-change {
	background-image: url("../images/green/icon-change-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-change-small {
	background-image: url("../images/green/icon-change-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-info-open, .more {
	background-image: url("../images/green/icon-open-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-info-open-small {
	background-image: url("../images/green/icon-open-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-info-close, .less {
	background-image: url("../images/green/icon-close-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-info-close-small {
	background-image: url("../images/green/icon-close-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-back {
	background-image: url("../images/green/icon-back-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-back-small {
	background-image: url("../images/green/icon-back-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-delete, .icon-close {
	background-image: url("../images/green/icon-delete-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-delete-small, .icon-close-small {
	background-image: url("../images/green/icon-delete-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-delete:hover, a.icon-delete-small:hover {
	background-position: left center;
}

.icon-dashboard {
	background-image: url("../images/green/icon-dashboard-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-menu {
	background-image: url("../images/green/icon-menu-11.gif");
	height: 11px;
	width: 11px;
	display: inline-block;
}

.icon-menu-small {
	background-image: url("../images/green/icon-menu-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-menu-large {
	background-image: url("../images/green/icon-menu-22.gif");
	height: 22px;
	width: 22px;
	display: inline-block;
}

.icon-menu-close-large {
	background-image: url("../images/green/icon-menu-close-22.gif");
	height: 22px;
	width: 22px;
	display: inline-block;
}

.icon-up-small {
	background-image: url("../images/green/icon-up-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

.icon-down-small {
	background-image: url("../images/green/icon-down-9.gif");
	height: 9px;
	width: 9px;
	display: inline-block;
}

/*
 * OLD STUFF
 */
.subcolumns ul {
	list-style-type: circle;
}

.height45 h2 {
	height: 45px;
}

#teaser {
	text-align: center;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #cccccc;
}

div.ce_list ul {
	padding-left: 18px;
}

div.ce_text ul {
	margin-left: 50px;
	list-style-type: square;
}

.meshup {
	width: 20px;
	height: 30px;
	float: left;
	margin: 5px 15px 5px 0;
	background: url(../images/meshup.gif) top left;
}

.dash {
	margin: 0 0 10px;
	padding: 5px 0 0;
	border-top: 1px solid #c7c7c7;
}

.dash h2 {
	margin-bottom: 0;
	font-size: 1em;
	line-height: 1.2em;
}

.dash p {
	margin-bottom: 0;
}

.dash h4 {
	float: left;
	margin-right: 1em;
	margin-bottom: 0;
	font-weight: normal;
}

.dash .links {
	float: right;
	margin-left: 5px;
	text-align: right;
}

.box280 h3, .box280 p {
	margin-bottom: 0.5em;
	color: #353535;
}

.chunk-preview {
	padding: 5px;
	border: 1px solid #DDE6CB;
	background: #F6FFE5 url("../images/addFragmentBG.gif") no-repeat right top;
}

#mashup .chunk-preview {
	padding: 10px 15px;
	background: #F6FFE5 url("../images/addFragmentBG.gif") no-repeat right top;
}

#mashup-list .chunk-item, chunk-item-enabled {
	margin: 10px 0 0;
	padding: 10px 15px;
	border: 1px solid #DDE6CB;
	background: #F6FFE5;
}

#mashup-list .chunk-item p {
	margin-top: 0.5em;
	margin-bottom: 0;
}

#mashup-list .chunk-item h1, #mashup-list .chunk-item h2, #mashup-list .chunk-item h3, #mashup-list .chunk-item h4 {
	margin-top: 0.5em;
	margin-bottom: 0;
}

#mashup-buttons, #mashup-saved {
	margin: 15px 0;
	padding: 5px 10px;
	background-color: #FFF58F;
}

.chunk-preview p {
	margin-top: 0.5em;
	margin-bottom: 0;
}

.chunk-preview h4 {
	margin-top: 0.5em;
	margin-bottom: 0;
}

.chunk-preview-title {
	margin-bottom: 5px;
	border-bottom: 1px solid #c7c7c7;
	font-weight: bold;
	font-size: 0.84em;
	color: #353535;
}

.chunk-new {
	margin: 0;
}

.content660 input#mashup-title {
	height: 30px;
	padding: 2px 5px;
	font-size: 2em;
}

.o2k7Skin table.mceToolbar, .o2k7Skin tr.mceFirst .mceToolbar tr td, .o2k7Skin tr.mceLast .mceToolbar tr td {
	float: left;
}

.o2k7Skin table.mceToolbar {
	float: left;
}

div.ce_text table {
	width: 100%;
	border: 1px solid #ccc;
}

div.ce_text tr {
	border: 0px;
}

div.ce_text td, div.ce_text th {
	padding: 5px 5px 6px;
	text-align: left;
	vertical-align: top;
}

div.ce_text th, div.ce_text thead td {
	margin-top: 2px;
	margin-bottom: 6px;
	background-color: #fff;
	background-image: url("../images/navH.gif");
	font-weight: bold;
	color: #666;
}

.mceToolbarTop {
}

.mod_newslist h2 {
	height: auto;
	margin: 0;
	padding: 0 0 10px;
	line-height: 1.2em;
}

.mod_newslist p.teaser {
	margin: 0;
	padding: 0;
}

.mod_newslist p.info {
	margin: 0;
	padding: 0;
}

.mod_newslist block {
	margin: 0 0 40px;
	padding: 0;
}

.subcolumns li {
	margin-bottom: 10px;
	list-style-type: circle;
}

div.ce_image {
	margin: 15px 0 0;
}
