html * {
	margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

body {
	background: #fff;
	color: #333;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin-top: 30px;
	margin-left: 30px;
}

img {
	border: 0
}

div#nav {
	float: left;
	width: 250px;
}

div#nav ul {
	margin-top: 20px;
}

div#content {
	margin-left: 300px;
}

div#right {
	float: left;
	width: 250px;
}

.body {
	float: left;
	margin: 0 15px 10px 0;
	width: 500px;
}

a:link, a:visited, a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: #7c9e21;
	font-weight: bold;
	font-size: 16px;
	margin: .8em 0 .3em 0;
}

h2 {
	font-weight: bold;
	font-size: 12px;
	margin: 1.5em 0 .3em 0;
}

h3 {
	font-weight: bold;
	font-size: 11px;
	margin: .8em 0 .3em 0;
}

ul {
	padding-left: 15px;
}

ul li {
	margin-bottom: 8px;
}

p {
	margin-bottom: 8px;
}

.inline {
	display: inline;
}

/* MESSAGES AND ERRORS */

.message {
	background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px
}

div.errors {
	background: #fff3f3;
	border: 1px solid red;
	color: #cc0000;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
}

div.errors ul {
	list-style: none;
	padding: 0;
}

div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

td.errors select {
	border: 1px solid red;
}

td.errors input {
	border: 1px solid red;
}

/* TABLES */

table {
	border: 1px solid #ccc;
	width: 100%
}


tr {
	border: 0;
}

td, th {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 12px;
	padding: 5px 6px;
	text-align: left;
	vertical-align: top;
}

th {
	background: #fff url(../images/skin/shadow.jpg);
	color: #666;
	font-size: 11px;
	font-weight: bold;
	line-height: 17px;
	padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
	color: #333;
	display: block;
	font-size: 10px;
	text-decoration: none;
	width: 100%;
}

th.asc a, th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

/* LIST */

.list table {
	border-collapse: collapse;
}

.list th, .list td {
	border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
	background: #b2d1ff;
}
table.insideListRightUp {
	height:180px;
	left:650px;
	position:absolute;
	top:130px;
	width:400px;
}
table.insideListRightDown {
	height:180px;
	left:650px;
	position:absolute;
	top:330px;
	width:400px;
}
td,th.insideTD{
	height:10px;
}
/* PAGINATION */

.paginateButtons {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-top: 0;
	color: #666;
	font-size: 10px;
	overflow: hidden;
	padding: 10px 3px;
}

.paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}

.paginateButtons span {
	padding: 2px 3px;
}

/* FORMS */

form {
	width: 240px;
}
form.withText {
	width: 540px;
}

label {
	display: block;
}

label.error {
	color: #B22222;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 2px 0;
	padding: 2px 4px;
	display: block;
	width: 100%;
	vertical-align: middle;
}

input[type=checkbox] {
	width: 10px;
}

.inline input, .inline label {
	display: inline;
}

select {
	padding: 2px 2px 2px 0;
	width: auto;
}

.buttons input {
	display: inline;
	width: auto;
}

textarea {
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #b2d1ff;
}

.important {
	font-weight: bold;
	color: #990000;
	margin: 5px 0 5px 0;
}

/* ACTION BUTTONS */

.buttons {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	color: #666;
	font-size: 10px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0;
}

.buttons input {
	background: transparent;
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 2px 6px;
}

.buttons input.delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.edit {
	background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.save {
	background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.list {
	background: transparent url(../images/skin/database_table.png) 5px 50% no-repeat;
	padding-left: 28px;
}


/*
 * RDFa
 */
span[property] {
	background-color: #FFF58F;
}
