/*  ---- GLOBALS --
    -----------------*/

body {
	margin: 0;
	padding: 0;
	background: url(../images/ruler-x.gif) repeat-x top left;
	text-align: center;
}

.wrapper {
	padding: 7px 0px;
	overflow: auto;
}

/*  ---- HEADER --
    -----------------*/
#head {
	width: 100%;
	background: #5F9600;
}

#headPage {
	margin: 0px auto;
	width: 960px;
	background: #5F9600;
	text-align: left;
	overflow: auto;
}

.logo {
	width: 220px;
	height: 70px;
	float: left;
	background: url(../images/logo.gif) no-repeat top left;
}

.search {
	float: right;
	width: 400px;
}

/*  ---- TOP MENU --
    -----------------*/

#headAll {
	width: 100%;
	background: #fff url(../images/navH_bg.gif) repeat-x top;
	overflow: hidden;
}

#headPrivate {
	overflow: hidden;
	margin: 0px auto;
	width: 960px;
	background: #fff url(../images/navH_bg.gif) repeat-x top;
}

/*  ---- PAGE --
	-----------------*/

#page {
	margin: 25px auto 20px auto;
	width: 960px;
	background: #fff;
	text-align: left;
}

#page .box280 {
	float: left;
	width: 256px;
	margin-right: 20px;
	padding: 10px;
	border: 2px solid #c7c7c7;
}

#page .content660 {
	float: left;
	width: 660px;
	margin: 0px;
}

#page .box200 {
	float: right;
	width: 176px;
	margin-left: 20px;
	padding: 10px;
	border: 2px solid #c7c7c7;
}

#page .content740 {
	float: left;
	width: 740px;
	margin: 0px;
}

#left {
	width: 300px;
	float: left;
}

/*  ---- FOOTER --
    -----------------*/

#footerAll {
	background: url(../images/footerBG.gif) repeat-x bottom;
	height: 90px;
	width: 100%;
}

.footer {
	background: url(../images/footerBG.gif) repeat-x bottom;
	height: 90px;
	color: #a0a0a0;
	text-align: left;
	margin: 0px auto;
	width: 960px;
}

.footerR {
	background: url(../images/footerBG.gif);
	height: 90px;
	width: 110px;
	float: right;
	color: #a0a0a0;
}

.footerL {
	float: left;
	height: 90px;
	width: 800px;
}

.footer p {
	color: #a0a0a0;
	margin: 0px 0px;
	padding: 50px 5px 0px 5px;
}

.footer a {
	color: #a0a0a0;
	margin: 0px 10px;
}

.footer a:hover {
	color: #c7c7c7;
}