body {
	font-size:100%;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	margin: 0;
	font-size: 1.6666666666666667em;
	line-height: 0.9em;
	margin-bottom: 0.9em;
}

h2 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
}


h3 {
	margin: 0;
	font-size: 1.3333333333333333em;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}

h4 {
	margin: 0;
	font-size: 1.1666666666666667em;
	line-height: 1.2857142857142858em;
	margin-bottom: 1.2857142857142858em;
	font-weight:normal;
}

p, ul, blockquote, pre, td, th {
	margin: 0;
	font-size: 1.0em;
	line-height: 1.5em;
	margin-bottom: 1.5em;

}

p.small, .small {
	margin: 0;
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
}



.info {
	color:#7c7c7c;
}


